{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "ie 10"
          ]
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "minify",
        [
          "env",
          {
            "targets": {
              "browsers": [
                ">0.25%",
                "ie 10"
              ]
            },
            "useBuiltIns": "entry"
          }
        ]
      ],
      "comments": false
    }
  }
}