{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions"
          ]
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "minify",
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 3 versions"
              ]
            }
          }
        ]
      ],
      "comments": false
    }
  }
}