body {
  margin: 0;
}

hr {
  margin: 3em 0;
}

.content-wrapper {
  margin: 4em auto;
  max-width: 75em;
}

nav {
  background-color: #e7e7e7;
  font-family: sans-serif;
  margin: 2em 0;
  padding: 0 2em;
}

li.no-js ul,
.am-submenu-list {
  background-color: #e7e7e7;
  padding-left: 1em;
}

.am-submenu-button {
  padding-right: 1em;
}

#am-main-menu,
#am-menu {
  margin: 0;
}

#am-main-menu a,
#am-menu a {
  color: black;
  padding: 1.5em 0.5em;
  text-decoration: none;
}

#am-main-menu a:hover,
#am-main-menu a:focus,
#am-menu a:hover,
#am-menu a:focus,
#am-main-menu button:hover,
#am-main-menu button:focus,
#am-menu button:hover,
#am-menu button:focus {
  background-color: #cccccc;
  box-shadow: inset 0 -0.5em rgba(0, 0, 0, 0.5);
}

#am-main-menu button:focus span,
#am-menu button:focus span {
  background-color: #cccccc;
  color: black;
}

