// import .scss files here.
@import './icon-styles.scss';

%submenu-icon {
    background: transparent;
    border: transparent;
    color: black;
    padding: 0.1em 0.2em;
    pointer-events: none;
}

%submenu-open {
    height: auto;
    left: 0%;
    opacity: 1;
    padding: 0;
    visibility: visible;
    z-index: 8;
}

// styles that apply more generally to the menu
nav[id^='am-'] {
    // select the first ul
    >ul {
        display: flex;
    }
    ul:not(.am-click-menu) {
        li {
            &:hover {
                >ul {
                    @extend %submenu-open;
                    ul {
                        padding: 0 2em;
                        position: relative;
                    }
                }
                // change the direction of the caret
                >button {
                    span:before {
                        content: '∧';
                        font-weight: bold;
                    }
                }
            }
            a+button {
                // give a visual cue to carets that are next to links
                &:hover {
                    >span {
                        background-color: #000000;
                        color: #ffffff;
                    }
                }
                // if the button is reciving focus directly, flip the caret
                &:focus {
                    >span {
                        content: '∧';
                        font-weight: bold;
                    }
                }
            }
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            display: flex;
            position: relative;
            // needed to override bootstrap's insistence on making these block elements.
            .am-submenu-link {
                display: block;
            }
            ul {
                height: 0;
                opacity: 0;
                position: absolute;
                top: 100%;
                left: 0;
                visibility: hidden;
                background-color: #fff;
                li {
                    display: flex;
                    flex-wrap: wrap;
                    a {
                        display: inline-block;
                        height: 100%;
                        padding: 0.5em 0;
                    }
                }
            }
            // open the menu when the class is applied via js
            ul.am-submenu-list-open {
                @extend %submenu-open;
                ul.am-submenu-list-open {
                    @extend %submenu-open;
                    padding: 0 0 0 2em;
                    position: relative;
                }
            }
            // when you hover/focus on the li, show the child ul
            &:focus {
                >ul {
                    @extend %submenu-open;
                    ul {
                        padding: 0 2em;
                        position: relative;
                    }
                }
                // change the direction of the caret
                >button {
                    span:before {
                        content: '∧';
                        font-weight: bold;
                    }
                }
            }
            span {
                @extend %submenu-icon;
                margin-left: 0.5em;
                &:before {
                    // remove the dependency on font awesome
                    content: attr(data-before);
                }
            }
            button {
                background-color: transparent;
                border: transparent;
                color: black;
                font-size: 0.95em;
                padding: 0 15px;
                &:hover,
                &:focus {
                    color: inherit;
                }
            }
            a+button {
                background: transparent;
                margin: 0;
                padding: 0;
                border: 0;
                padding: 0 0.5em;
                span {
                    margin-left: 0;
                }
                // give a visual cue to carets that are next to links
                &:focus {
                    >span {
                        background-color: #000000;
                        color: #ffffff;
                        // if the button is reciving focus directly, flip the caret
                        &:before {
                            content: '∧';
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

nav .no-js {
    ul {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
    &:focus-within {
        >ul {
            height: 100%;
            opacity: 1;
            visibility: visible;
        }
        span:before {
            content: '∧';
            font-weight: bold;
        }
    }
}