// import .scss files here.
%submenu-icon {
  background: transparent;
  border: transparent;
  color: black;
  padding: 0.1em 0.2em;
}

// styles to line up the top level nav elements
nav {
  // select the first ul
  > ul {
    display: flex;
    // apply the margin only to siblings of the first li
    > li + li {
      margin-left: 1rem;
    }
  }
}

// styles that apply more generally to the menu
nav {
  ul {
    list-style-type: none;
    li {
      display: block;
      position: relative;
      ul {
        height: 0;
        opacity: 0;
        transition: all ease-in 0.5s;
        visibility: hidden;
        li {
          display: block;
          margin: 0.5em 0;
          a {
            display: inline-block;
            height: 100%;
            padding: 0.5em 0;
          }
        }
      }
      // when you hover/focus on the li, show the child ul
      &:hover,
      &:focus {
        > ul,
        ul.submenu-list-open {
          height: 100%;
          opacity: 1;
          transition-delay: 0s, 0s, 0.25s;
          visibility: visible;
        }
        // change the direction of the caret
        > button {
          span:before {
            content: '∧';
            font-weight: bold;
          }
        }
      }

      span {
        @extend %submenu-icon;
        margin-left: 0.5em;
        &:before {
          // remove the dependency on font awesome
          content: attr(data-before);
        }
      }

      button {
        background-color: transparent;
        border: transparent;
        color: black;
        font-size: 0.95em;
        padding: 0 15px; // text-decoration: underline;
        &:hover,
        &:focus {
          color: inherit;
          outline: 1px solid blue;
        }
      }
      a + button {
        background: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        // give a visual cue to carets that are next to links
        &:hover,
        &:focus {
          > span {
            background-color: #000000;
            color: #ffffff;
          }
        }
      }
    }
  }
}

// nav .no-js {
//   ul {
//     height: 0;
//     opacity: 0;
//     transition: all ease-out 0.5s;
//     visibility: hidden;
//   }
//   &:focus-within {
//     > ul {
//       height: 100%;
//       opacity: 1;
//       visibility: visible;
//     }
//     span:before {
//       content: '∧';
//       font-weight: bold;
//     }
//   }
// }

// header .fl-page-nav-wrap .navbar-nav .no-js button:focus,
// header .fl-page-nav-wrap .navbar-nav .no-js button a:focus {
//   + ul {
//     height: 100%;
//     opacity: 1;
//     visibility: visible;
//     // transition-delay: 5s;
//     transition-duration: 5s;
//   }
// }
// header .fl-page-nav-wrap .navbar-nav .no-js button,
// header .fl-page-nav-wrap .navbar-nav .no-js button a {
//   &:focus {
//     + ul {
//       height: 100%;
//       opacity: 1;
//       transition-delay: 0s, 0s, .25s;
//       visibility: visible;
//     }
//     span:before {
//       content: '∧';
//       font-weight: bold;
//     }
//   }
//   ul
// }